<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="static/styles/main.css">
		<link rel = "icon" href="static/images/Pond_Icon.ico" type="image/x-icon">
	</head>

	<body>
		<div class="header cp_color">
			<h1>{{title}}</h1>
			<div class="pages cp_color">
				<a href="/form">Form</a>
				<a href="#">page2</a>
			</div>
		</div>
		<div class="mainContainer">
			<p> Welcome to {{title}}'s homepage, This is a generic template created as a placeholder.</p>
		</div>
	</body>
</html>